body {
  background: #2692f6; }

.sitemap__block01 {
  border-top: #ddd solid 1px;
  border-bottom: #ddd solid 1px; }
  @media print, screen and (min-width: 769px) {
    .sitemap__block01 {
      margin-top: 55px;
      border-top: none;
      border-bottom: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: stretch;
      align-content: stretch; } }
  .sitemap__block01 li {
    padding: 18px 10px 18px 0; }
    @media print, screen and (min-width: 769px) {
      .sitemap__block01 li {
        padding: 0; } }
    .sitemap__block01 li + li {
      border-top: #ddd solid 1px; }
      @media print, screen and (min-width: 769px) {
        .sitemap__block01 li + li {
          border-top: none;
          border-left: #ddd solid 1px; } }
    @media print, screen and (min-width: 769px) {
      .sitemap__block01 li:nth-child(1), .sitemap__block01 li:nth-child(3) {
        width: 31%; } }
    @media print, screen and (min-width: 769px) {
      .sitemap__block01 li:nth-child(2) {
        padding-left: 30px;
        width: 38%; } }
    @media print, screen and (min-width: 769px) {
      .sitemap__block01 li:nth-child(2) div {
        padding-left: 0;
        padding-right: 30px; } }
    @media print, screen and (min-width: 769px) {
      .sitemap__block01 li:nth-child(3) {
        padding-left: 30px; } }
  .sitemap__block01 img {
    width: 100%;
    max-width: 205px; }
  .sitemap__block01 a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center; }
    @media print, screen and (min-width: 769px) {
      .sitemap__block01 a {
        display: block;
        position: relative;
        height: 210px; } }
    .sitemap__block01 a span {
      -webkit-flex: 1;
      flex: 1;
      padding-right: 1em; }
      @media print, screen and (min-width: 769px) {
        .sitemap__block01 a span {
          padding-right: 0; } }
    .sitemap__block01 a div {
      width: 120px; }
      @media print, screen and (min-width: 769px) {
        .sitemap__block01 a div {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
          padding-right: 20px; } }
.sitemap__block02 {
  margin-top: 10px; }
  @media print, screen and (min-width: 769px) {
    .sitemap__block02 {
      margin-top: 20px;
      border-bottom: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: stretch;
      align-content: stretch; } }
  @media print, screen and (min-width: 769px) {
    .sitemap__block02 > div {
      padding: 0px;
      width: 31%; } }
  @media print, screen and (min-width: 769px) {
    .sitemap__block02 > div:nth-child(2) {
      padding-left: 30px;
      width: 38%; } }
  @media print, screen and (min-width: 769px) {
    .sitemap__block02 > div:nth-child(3) {
      padding-left: 30px; } }
  @media print, screen and (min-width: 769px) {
    .sitemap__block02::after {
      content: '';
      width: 31%;
      display: block; } }
  @media print, screen and (min-width: 769px) {
    .sitemap__block02 li {
      margin-top: 2em; } }

.section01 {
  line-height: 1.42; }
  @media print, screen and (min-width: 769px) {
    .section01 {
      line-height: 1.363; } }
  .section01 + section {
    margin-top: 15px; }
    @media print, screen and (min-width: 769px) {
      .section01 + section {
        margin-top: 60px; } }
  .section01.cmn__inner-type04 {
    padding-top: 20px; }
    @media print, screen and (min-width: 769px) {
      .section01.cmn__inner-type04 {
        padding-top: 70px; } }
  .section01 p:not(:first-child) {
    margin-top: 1.5em; }
  .section01 a {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.015em;
    color: #3d9bff !important; }
    @media print, screen and (min-width: 769px) {
      .section01 a {
        font-size: 22px;
        font-size: 2.2rem;
        letter-spacing: 0.03em; } }
    .section01 a:hover {
      opacity: 0.6; }
    .section01 a > span {
      position: relative;
      display: inline-block;
      padding: 0.8em 0 0.8em 35px; }
      @media print, screen and (min-width: 769px) {
        .section01 a > span {
          padding: 0 0 0 45px; } }
      .section01 a > span::before {
        position: absolute;
        left: 10px;
        top: 0.8em;
        content: '';
        width: 17px;
        height: 17px;
        background: url(../img/ic_arrow-r2.svg) no-repeat center center/contain; }
        @media print, screen and (min-width: 769px) {
          .section01 a > span::before {
            top: 0.1em;
            width: 22px;
            height: 22px; } }
    .section01 a.ic-home span::before {
      background: url(../img/ic_home.svg) no-repeat center center/contain; }
